MRLWMSC21WCF/Connected Services/SessionValidator/SingleSignOnDBSink.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZohoServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZohoServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubscriptionApi.ResponseAciveSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptions" nillable="true" type="tns:ArrayOfSubscriptionApi.Subscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionApi.ResponseAciveSubscription" nillable="true" type="tns:SubscriptionApi.ResponseAciveSubscription" />
  <xs:complexType name="ArrayOfSubscriptionApi.Subscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionApi.Subscription" nillable="true" type="tns:SubscriptionApi.Subscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionApi.Subscription" nillable="true" type="tns:ArrayOfSubscriptionApi.Subscription" />
  <xs:complexType name="SubscriptionApi.Subscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="activated_at" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_term_ends_at" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="current_term_starts_at" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:SubscriptionApi.Customer" />
      <xs:element minOccurs="0" name="expires_at" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_billing_at" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="next_billing_at" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscription_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionApi.Subscription" nillable="true" type="tns:SubscriptionApi.Subscription" />
  <xs:complexType name="SubscriptionApi.Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:double" />
      <xs:element minOccurs="0" name="company_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency_symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="display_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outstanding" type="xs:double" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unused_credits" type="xs:double" />
      <xs:element minOccurs="0" name="updated_time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionApi.Customer" nillable="true" type="tns:SubscriptionApi.Customer" />
  <xs:complexType name="SubscriptionApi.ResponseAllPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Plans" nillable="true" type="tns:ArrayOfSubscriptionApi.Plan" />
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionApi.ResponseAllPlan" nillable="true" type="tns:SubscriptionApi.ResponseAllPlan" />
  <xs:complexType name="ArrayOfSubscriptionApi.Plan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionApi.Plan" nillable="true" type="tns:SubscriptionApi.Plan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionApi.Plan" nillable="true" type="tns:ArrayOfSubscriptionApi.Plan" />
  <xs:complexType name="SubscriptionApi.Plan">
    <xs:sequence>
      <xs:element minOccurs="0" name="billing_cycles" type="xs:int" />
      <xs:element minOccurs="0" name="created_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="interval" type="xs:int" />
      <xs:element minOccurs="0" name="interval_unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_taxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="objitem_tax_preferences" nillable="true" type="tns:SubscriptionApi.item_tax_preferences" />
      <xs:element minOccurs="0" name="plan_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recurring_price" type="xs:int" />
      <xs:element minOccurs="0" name="setup_fee" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_exemption_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_exemption_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trial_period" type="xs:int" />
      <xs:element minOccurs="0" name="updated_time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionApi.Plan" nillable="true" type="tns:SubscriptionApi.Plan" />
  <xs:complexType name="SubscriptionApi.item_tax_preferences">
    <xs:sequence>
      <xs:element minOccurs="0" name="tax_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_percentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tax_specification" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionApi.item_tax_preferences" nillable="true" type="tns:SubscriptionApi.item_tax_preferences" />
</xs:schema>